<div>
    <a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Regresar al Mapa</a>
    <h2>Rutas</h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Rutas
                <select class="form-control" ng-model="rutaIndex" ng-init="rutaIndex = 0">
                <option ng-repeat="r in rutas" ng-value="$index">{{r.nombre}}</option>
                </select>

            </h1>
            <div>
                <h2>{{rutas[rutaIndex].nombre}}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Latitud</th>
                                    <th>Longitud</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="point in rutas[rutaIndex].camino">
                                    <td>{{$index}}</td>
                                    <td>{{point._latitude}}</td>
                                    <td>{{point._longitude}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-6">
                        <img ng-if="rutas[rutaIndex].polyline" src="https://maps.googleapis.com/maps/api/staticmap?size=400x400&path=weight:5%7Ccolor:blue%7Cenc:{{rutas[rutaIndex].polyline}}&key=AIzaSyDMJxPp7Wbgt8Q1cpdqfgXc0umSaiNDbK4"
                        />
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>