<div>
    <a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Regresar al Mapa</a>
    <h2>Unidades</h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Unidades</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="pointer" ng-click="sortBy('id')">
                            <span>#id</span>
                            <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="pointer" ng-click="sortBy('nombre')">
                            <span>Nombre</span>
                            <span class="sortorder" ng-show="propertyName === 'nombre'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="pointer" ng-click="sortBy('estado')">
                            <span>Estado</span>
                            <span class="sortorder" ng-show="propertyName === 'estado'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="pointer" ng-click="sortBy('capacidad')">
                            <span>Capacidad</span>
                            <span class="sortorder" ng-show="propertyName === 'capacidad'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="pointer" ng-click="sortBy('ruta.nombre')">
                            <span>Ruta</span>
                            <span class="sortorder" ng-show="propertyName === 'ruta.nombre'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="pointer" ng-click="sortBy('chofer.nombre')">
                            <span>Chofer</span>
                            <span class="sortorder" ng-show="propertyName === 'chofer.nombre'" ng-class="{reverse: reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="unidad in unidades| orderBy:propertyName:reverse" " >
                        <td>{{unidad.id}}</td>
                        <td>{{unidad.nombre}}</td>
                        <td>{{unidad.estado}}</td>     
                        <td>{{unidad.capacidad}}</td>    
                        <td>{{unidad.ruta.nombre}}</td>     
                        <td><img height="40 " width="40 " src="{{unidad.chofer.foto}} "/> {{unidad.chofer.nombre}} </td>    
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>